@media only screen and (max-width:1200px) {
    body {
        width: 100%;
    }
    .iconic {
        padding: 50px 50px;
    }
}

@media only screen and (max-width:1024px) {
    header ul li:nth-child(n+2)::before {
        display: none;
    }
    header ul li {
        margin: 0 5px;
    }
    .iconic {
        padding: 50px 20px;
    }
    #see-what-we-can-do p {
        font-size: 3.8vw;
    }
    #footer-contact {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footer-contact input {
        width: 100%;
    }
    .bottom-button {
        margin-top: 40px;
    }
}

@media only screen and (max-width:880px) {
    header ul {
        display: none;
    }
    #mobile-menu-button {
        display: block;
        color: #fff;
        font-size: 40px;
        margin: 20px 40px 0 0;
    }
    #see-what-we-can-do p {
        font-size: 4.8vw;
    }
    adress {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    adress p:nth-child(n+2)::before {
        content: '-';
        margin: 0;
        display: block;
    }
}

@media only screen and (max-width:700px) {
    .columns {
        align-items: center;
        flex-direction: column;
    }
    .col {
        width: 80%;
        line-height: 1.4;
        text-align: center;
        padding: 40px 0;
    }
    .iconic {
        flex-direction: column;
    }
    .content {
        width: 90%;
    }
    .iconic:nth-child(even) {
        flex-direction: column;
    }
    #see-what-we-can-do p {
        font-size: 4.8vw;
    }
    .row-footer ul li {
        margin: 0 5px;
    }
    .row-footer ul li:nth-child(n+2)::before {
        content: '-';
        margin-right: 10px;
    }
    #footer-contact {
        width: 70%;
    }
    .socials a:nth-child(n+2) {
        margin-left: 10px;
    }
    .socials a:nth-child(n+2)::before {
        content: '-';
        margin-right: 10px;
    }
}

@media only screen and (max-width:550px) {
    .row-footer ul {
        display: flex;
        flex-direction: column;
    }
    .row-footer ul li:nth-child(n+2)::before {
        margin: 0;
        display: block;
    }
    .socials ul li:nth-child(n+4) {
        font-size: 1.8em;
    }
}
