body {
    width: 82%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    background: #f0f0f0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: url("../img/backgroundImage.png") no-repeat 50% 0;
    background-size: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 70px 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    color: white;
    margin-left: 15px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

nav>ul>li:nth-child(n+2)::before {
    content: "•";
    margin: 0 16px 0 16px;
    color: #f0f0f0;
}

nav>ul>li:last-child {
    color: #D47D07;
}
nav #mobile-menu-button{
  font-size:46px;
  display:none;
}

#bottom-part-of-header {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

#bottom-part-of-header>p {
    font-size: 3.2vw;
    color: #fff;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#bottom-part-of-header p span {
    font-size: 2.2vw;
    font-weight: lighter;
}

.quote-box {
    background: url("../img/FormContainer.png");
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.9;
}

.quote-box>p {
    font-size: 36px;
    margin: 0 0 50px 0;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: 'Cinzel', serif;
}

.quote-box form {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.row {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.row input {
    outline: 0;
    border: none;
    padding: 10px 3px;
    background: none;
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.first-row input:first-child {
    width: 65%;
}

.first-row input:nth-child(2) {
    width: 30%;
}

.next-row input {
    width: 100%;
}

.submit-button {
    background-color: #D47D07;
    text-align: center;
    padding: 20px 60px;
    margin: 30px auto 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}


/*Styling 'provide' section*/

#provide {
    background: #fff;
}

.title-bar p {
    font-size: 32px;
    color: #727272;
    text-align: center;
}

.title-bar p span {
    color: #D47D07;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: calc(100%/4);
    position: relative;
    color: black;
    background-size: cover;
    border-top: 1px solid #f0f0f0;
    display:flex;
    min-width:350px;
    flex:1;
}

.tile1 {
    background: url("../img/Image1.png") no-repeat 90% 0;
    background-size: cover;
}

.tile2 {
    background: url("../img/Image2.png") no-repeat 50% 0;
}

.tile3 {
    background: url("../img/Image3.png") no-repeat 50% 0;
}

.tile4 {
    background: url("../img/Image4.png") no-repeat 50% 0;
}

.number {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 100px;
    font-family: 'Cinzel', serif;
    color: #f0f0f0;
    margin: 0;
}

.tile div {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile div p {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
}

.tile div ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: -15px;
    color: #727272;
}

.tile div ul li:before {
    content: "•";
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #727272;
}

#exp-team {
    background: url("../img/backgroundContainer3.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


/*styling second section*/

.economy-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto 0;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    width: 50%;
    position: relative;
}

.economy-text p span {
    font-weight: bold;
}

.economy-text i:first-of-type {
    position: absolute;
    top: -5%;
    left: -10%;
    color: #d47d07;
    font-size: 50px;
}

.economy-text i:last-of-type {
    position: absolute;
    bottom: -3%;
    right: -10%;
    color: #d47d07;
    font-size: 50px;
}

.white-button {
    outline: 0;
    margin: 60px auto 150px;
    width: 260px;
    padding: 15px 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: 2px solid #ffffff;
    color: #fff;
}


/*Styles for products-seen-in section*/

#products-seen-in {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    width: calc(100%/5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    background: #C1E2FA;
    min-width: 250px;
    flex: 1;
}

.product-item:first-child {
    text-align: center;
    font-size: 28px;
    color: #727272;
    background: white;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    padding:0;
}


/*Styles for "See--what-we-can-do"*/

#see-what-we-can-do {
    background: url("../img/whatwecando.png") no-repeat 50% 0;
    background-size: cover;
    display: block;
}

#see-what-we-can-do div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 150px 0;
}

#see-what-we-can-do p {
    font-size: 2.8vw;
    text-align: center;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
}


/*styles for footer*/

footer {
    background: #263248;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.9);
}

.row-footer {
    background: #141B26;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #727272;
}

.row-footer:last-child {
    border-bottom: 0;
}

.row-footer ul {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding:0;
    justify-content: center;
}

.row-footer ul li {
    margin: 0 10px;
}

.row-footer ul li:nth-child(n+2)::before {
    content: '-';
    margin-right: 20px;
}

.street-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

adress {
    margin-top: 30px;
    display: flex;
}

adress p {
    margin: 0 10px;
}

adress p:nth-child(n+2)::before {
    content: '-';
    margin-right: 25px;
}

#footer-contact {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: baseline;
    /*justify-content: center;*/
    justify-content: space-around;
}

#footer-contact input {
    border: 0;
    background: none;
    border-bottom: 2px solid #fff;
    padding: 14px 0;
    color: #fff;
    outline: 0;
    font-size: 18px;
    font-style: italic;
}

.bottom-button {
    outline: 0;
    background: none;
    border: 2px solid #f0f0f0;
    width: 230px;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.socials {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.socials a:nth-child(n+2) {
    margin-left: 20px;
}

.socials a:nth-child(n+2)::before {
    content: '-';
    margin-right: 20px;
}
